:root {
  --box-shadow: 0 1px 3px #bac7d4, 0 1px 2px #bac7d4;
  --background-color: #f5b042;
}
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.main-container {
  padding: 50px;
  background-color: #43586e;
  border-radius: 40px;
}
.container {
  margin: 30px auto;
  width: 350px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h1 {
  margin: 0;
  letter-spacing: 1px;
}
h2 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}
h3,
h4,
p {
  margin: 0;
}
h3 {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.24);
}
.inex-container {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inex-container > div {
  flex: 1;
  text-align: center;
}

.inex-container > div:first-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #59ab44;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.del-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .del-btn {
  opacity: 1;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
input {
  border: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin-top: 10px;
}
.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}
